<div
  class="main-banner"
  style="background-image: url(assets/img/jo.jpg)"
  data-overlay="8"
>
  <div class="container">
    <div class="col-md-12 col-sm-12">
      <div class="caption text-center cl-white">
        <h2>Find Your Career. You Deserve it.</h2>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias
        </p>
      </div>

      <form>
        <fieldset class="home-form-1">
          <div class="col-md-4 col-sm-4 padd-0">
            <!--(ngModel)]="search"-->
            <input
              type="search"
              class="form-control br-1"
              placeholder="Skills, Designation, Companies"
            />
          </div>

          <div class="col-md-3 col-sm-3 padd-0">
            <select class="wide form-control br-1">
              <option data-display="Location">All Tunisia</option>
              <option *ngFor="let i of listplaces" value="1">
                {{ i.name }}
              </option>
            </select>
          </div>

          <div class="col-md-3 col-sm-3 padd-0">
            <select class="wide form-control">
              <option data-display="Category">Show All</option>
              <option *ngFor="let i of listspecialies" value="1">
                {{ i.name }}
              </option>
            </select>
          </div>

          <div class="col-md-2 col-sm-2 padd-0 m-clear">
            <button type="submit" class="btn theme-btn cl-white seub-btn">
              FIND JOB
            </button>
          </div>
        </fieldset>
      </form>

      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="cmp-overview">
            <div class="cmp-icon">
              <i class="cmp-i icon-profile-male"></i>
              <i class="fa fa-check"></i>
            </div>
            <div class="cmp-detail">
              <h3>8</h3>
              <span>Active Workers</span>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="cmp-overview">
            <div class="cmp-icon">
              <i class="cmp-i icon-desktop"></i>
              <i class="fa fa-check"></i>
            </div>
            <div class="cmp-detail">
              <h3>6</h3>
              <span>Companies</span>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4">
          <div class="cmp-overview">
            <div class="cmp-icon">
              <i class="cmp-i icon-global"></i>
              <i class="fa fa-check"></i>
            </div>
            <div class="cmp-detail">
              <h3>4</h3>
              <span>Places</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ======================= End Banner ===================== -->

<!-- ================= Job start ========================= -->
<section>
  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-advance theme-bg">
      <li class="nav-item active">
        <a class="nav-link"> Recent Jobs</a>
      </li>
    </ul>

    <div class="tab-content">
      <!-- Recent Job -->
      <div class="tab-pane fade in show active" id="recent" role="tabpanel">
        <div class="row">
          <!-- Single Job -->
          <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let i of listoffres">
            <!--|search: search  not working-->
            <div class="grid-job-widget">
              <span class="job-type part-type"> {{ i.timetype }} </span>
              <div class="job-like">
                <label class="toggler toggler-danger">
                  <input type="checkbox" checked />
                  <i class="fa fa-heart"></i>
                </label>
              </div>

              <div class="u-content">
                <div class="avatar box-80">
                  <a href="employer-detail.html">
                    <img
                      class="img-responsive"
                      src="http://localhost:8080/getfile/{{
                        i.company.picture
                      }}"
                    />
                  </a>
                </div>
                <h5>
                  <a [routerLink]="['/detailoffre', i._id]"
                    >{{ i.jobtitle }}
                  </a>
                </h5>
                <p class="text-muted">
                  {{ i.company.fullname }} , {{ i.place.name }}
                </p>
              </div>

              <div class="job-type-grid">
                <a class="btn job-browse-btn btn-radius br-light">Browse Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 mrg-top-40">
      <div class="text-center">
        <a href="#" class="btn theme-btn btn-m">Browse More Jobs</a>
      </div>
    </div>
  </div>
</section>

<!-- ================= Category start ========================= -->
<section
  class="image-bg"
  style="background: url(assets/img/banner-2.jpg) no-repeat"
  data-overlay="7"
>
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-12">
        <div class="heading light">
          <h2>Browse By Category</h2>
          <p>
            Each month, more than 7 million Jobhunt turn to website in their
            search for work, making over<br />160,000 applications every day.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="icon-bargraph" aria-hidden="true"></i>
              <i class="icon-bargraph abs-icon" aria-hidden="true"></i>
            </div>

            <div class="category-detail category-desc-text">
              <a href="browse-job.html" title=""
                ><h4>Accounting & Finance</h4></a
              >
              <p>122 Jobs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="icon-tools-2" aria-hidden="true"></i>
              <i class="icon-tools-2 abs-icon" aria-hidden="true"></i>
            </div>

            <div class="category-detail category-desc-text">
              <a href="browse-job.html" title=""><h4>Automotive Jobs</h4></a>
              <p>155 Jobs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="ti-briefcase" aria-hidden="true"></i>
              <i class="ti-briefcase abs-icon" aria-hidden="true"></i>
            </div>

            <div class="category-detail category-desc-text">
              <a href="browse-job.html" title=""><h4>Business</h4></a>
              <p>300 Jobs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="ti-ruler-pencil" aria-hidden="true"></i>
              <i class="ti-ruler-pencil abs-icon" aria-hidden="true"></i>
            </div>

            <div class="category-detail category-desc-text">
              <a href="browse-job.html" title=""><h4>Education Training</h4></a>
              <p>80 Jobs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="ti-heart-broken" aria-hidden="true"></i>
              <i class="ti-heart-broken abs-icon" aria-hidden="true"></i>
            </div>

            <div class="category-detail category-desc-text">
              <a href="browse-job.html" title=""><h4>Healthcare</h4></a>
              <p>120 Jobs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="icon-wine" aria-hidden="true"></i>
              <i class="icon-wine abs-icon" aria-hidden="true"></i>
            </div>

            <div class="category-detail category-desc-text">
              <a href="browse-job.html" title=""><h4>Restaurant & Food</h4></a>
              <p>78 Jobs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="ti-world" aria-hidden="true"></i>
              <i class="ti-world abs-icon" aria-hidden="true"></i>
            </div>

            <div class="category-detail category-desc-text">
              <a href="browse-job.html" title=""><h4>Transportation</h4></a>
              <p>90 Jobs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="category-box" data-aos="fade-up">
          <div class="category-desc">
            <div class="category-icon">
              <i class="ti-desktop" aria-hidden="true"></i>
              <i class="ti-desktop abs-icon" aria-hidden="true"></i>
            </div>

            <div class="category-detail category-desc-text">
              <a href="browse-job.html" title=""><h4>Telecommunications</h4></a>
              <p>210 Jobs</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 mrg-top-40">
        <div class="text-center">
          <a href="#" class="btn theme-btn btn-m">Browse All Category</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ========================= Pricing Section ========================= -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="heading">
          <h2>Choose <span class="theme-cl">Packages</span></h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="package-box">
          <div class="package-header">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <h3>Professional</h3>
          </div>
          <div class="package-price">
            <h2><sup>$ </sup>10<sub>/Month</sub></h2>
          </div>
          <div class="package-info">
            <ul>
              <li>3 Designs</li>
              <li>3 PSD Designs</li>
              <li>4 color Option</li>
              <li>10GB Disk Space</li>
              <li>Full Support</li>
            </ul>
          </div>
          <button type="submit" class="btn btn-package">Sign Up</button>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="active package-box">
          <div class="package-header">
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <h3>Standard</h3>
          </div>
          <div class="package-price">
            <h2><sup>$ </sup>110<sub>/Month</sub></h2>
          </div>
          <div class="package-info">
            <ul>
              <li>3 Designs</li>
              <li>3 PSD Designs</li>
              <li>4 color Option</li>
              <li>10GB Disk Space</li>
              <li>Full Support</li>
            </ul>
          </div>
          <button type="submit" class="btn btn-package">Sign Up</button>
        </div>
      </div>

      <div class="col-md-4 col-sm-4">
        <div class="package-box">
          <div class="package-header">
            <i class="fa fa-cube" aria-hidden="true"></i>
            <h3>Premium</h3>
          </div>
          <div class="package-price">
            <h2><sup>$ </sup>170<sub>/Month</sub></h2>
          </div>
          <div class="package-info">
            <ul>
              <li>3 Designs</li>
              <li>3 PSD Designs</li>
              <li>4 color Option</li>
              <li>10GB Disk Space</li>
              <li>Full Support</li>
            </ul>
          </div>
          <button type="submit" class="btn btn-package">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= End Pricing Section ============================ -->

<!-- =================== Newsletter ==================== -->
<section
  class="newsletter theme-bg"
  style="background-image: url(assets/img/bg-new.png)"
>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="heading light">
          <h2>Get Latest News</h2>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis.
          </p>
        </div>
      </div>
    </div>

    <div class="row mrg-top-20">
      <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
        <div class="newsletter-box text-center">
          <div class="input-group">
            <span class="input-group-addon"
              ><span class="ti-email theme-cl"></span
            ></span>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your Email.."
            />
          </div>
          <button type="button" class="btn theme-btn btn-radius btn-m">
            subscribe
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =================== End Newsletter ==================== -->

<!-- Sign Up Window Code -->
<div
  class="modal fade"
  id="signin"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" id="myModalLabel1">
      <div class="modal-body">
        <div class="text-center">
          <img src="assets/img/logo.png" alt="" class="img-responsive" />
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-advance theme-bg" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#candidate" role="tab">
              <i class="ti-user"></i> welcome back
            </a>
          </li>
        </ul>
        <!-- Nav tabs -->

        <!-- Tab panels -->
        <div class="tab-content">
          <!-- Employer Panel 1-->

          <!--/.Panel 1-->

          <!-- Candidate Panel 2-->
          <div class="tab-pane fade" id="candidate" role="tabpanel">
            <form [formGroup]="form">
              <div class="form-group">
                <label> Email</label>
                <input
                  formControlName="email"
                  type="text"
                  class="form-control"
                  placeholder="Email"
                />
              </div>

              <div class="form-group">
                <label>Password</label>
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  placeholder="*********"
                />
              </div>

              <div class="form-group">
                <span class="custom-checkbox">
                  <input type="checkbox" id="44" />
                  <label for="44"></label>Remember me
                </span>
                <a href="#" title="Forget" class="fl-right">Forgot Password?</a>
              </div>
              <div class="form-group text-center">
                <button
                  (click)="login()"
                  type="button"
                  class="btn theme-btn full-width btn-m"
                >
                  LogIn
                </button>
              </div>
            </form>

            <div class="log-option"><span>OR</span></div>

            <div class="row mrg-bot-20">
              <div class="col-md-6">
                <a href="#" title="" class="fb-log-btn log-btn"
                  ><i class="fa fa-facebook"></i>Sign In With Facebook</a
                >
              </div>
              <div class="col-md-6">
                <a href="#" title="" class="gplus-log-btn log-btn"
                  ><i class="fa fa-google-plus"></i>Sign In With Google+</a
                >
              </div>
            </div>
          </div>
          <!--/.Panel 2-->
        </div>
        <!-- Tab panels -->
      </div>
    </div>
  </div>
</div>
<!-- End Sign Up Window -->

<!-- Color Switcher -->
<div class="style-switcher">
  <h2 class="css-trigger">
    <a href="#"><i class="ti-settings"></i></a>
  </h2>
  <div>
    <ul id="themecolors" class="m-t-20">
      <li>
        <a href="javascript:void(0)" data-skin="red-skin" class="red-theme"
          >1</a
        >
      </li>
      <li>
        <a href="javascript:void(0)" data-skin="green-skin" class="green-theme"
          >2</a
        >
      </li>
      <li>
        <a href="javascript:void(0)" data-skin="blue-skin" class="blue-theme"
          >3</a
        >
      </li>
      <li>
        <a
          href="javascript:void(0)"
          data-skin="yellow-skin"
          class="yellow-theme"
          >4</a
        >
      </li>
      <li>
        <a
          href="javascript:void(0)"
          data-skin="purple-skin"
          class="purple-theme"
          >5</a
        >
      </li>
      <li>
        <a href="javascript:void(0)" data-skin="cyan-skin" class="cyan-theme"
          >6</a
        >
      </li>
    </ul>
  </div>
</div>
